table, tbody, thead, tr, td {
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0;

}

.game div, .game table {
  margin-left:auto;
  margin-right:auto;
}

/*.board, .board table {*/
/*  background-image: url("../images/TypingTest.png");*/
/*  background-color: black;
  text-align: center;
  font-family: 'Lucida Console', monospace;
  font-size: 20px;
  height: 500px;
  width: 800px;
  position: relative;
  border-collapse: collapse;
}*/

.board {
  /*background-image: url("../images/TypingTest.png");*/
  /*background-image: url("board.png");*/
  /*background-color: black;*/
  text-align: center;
  font-family: 'Lucida Console', monospace;
  font-size: 20px;
  /*height: 441px;*/
  /*width: 373px;*/
  height: 500px;  
  width: 400px;
  position: relative;
  border-collapse: collapse;
}

.cell {
  border: 1px solid #666;
  width: 100px;
  height: 100px;
  background-color: #000;
}

.active {
  background-color: #D6D6D6;
}
.score td {
  height: 100px;
  background-color: #333;
  border: 1px solid #333;
}

.matched {
  color: #AAA;
}

.game {
  min-width: 850px;
      /*background-color: black;*/
}
